In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd

In [25]:
df=pd.read_csv('C:/Users/caree/OneDrive/Desktop/pizza_hut/pizzas.csv',encoding_errors='ignore')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [22]:
df.head(5)

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [15]:
import pymysql
from sqlalchemy import create_engine

In [16]:
engine_mysql=create_engine("mysql+pymysql://root@localhost:3306/pizza_hut")
try:
    engine_mysql
    print('Succeed')
except:
    print('failed')

Succeed

In [27]:
df.to_sql(name='pizza_types',con=engine_mysql,if_exists='replace',index=False)

96